body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #00c4ff;
}

#message {
    display: none;
}

.login-form div {
    display: flex;
    flex-direction: column;
}

.signup-form div{
    display: flex;
    flex-direction: column;
}

.link{
    padding-top: 8px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 50%;
}

input {
    background: #fdeee1;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
